
    
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
    

<div class="profile-container">
    
    <div class="profileImg rounded mx-auto d-block">
        <div class='userImg'>
            <img class="pfImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/599.png">
        </div>
    </div >



    <div class="profileSection ">
        <div class="profinner-container" style="margin-right: 1em;" >
            <div class="userName"style="margin-right: 1em;">
                <h5> 
                    manny.user
                </h5>
            </div>
        <div class="editBttn" style="margin-right: 1em;" ><a class ="act" href="#"> Edit Profile</a></div>
        <div class="settingBttn"  style="margin-right: 1em;"><a href="#"> </a></div>
    </div>



        <div>
            <div class=" listFollow">
                <div class="listFoll"> <b><%= profile.length %></b>  posts</div>
                <div class="listFoll"> <b><%= profile.length %></b>  followers</div>
                <div class="listFoll"> <b><%= profile.length %></b>  following</div>
            </div>
        </div>
    </div>

         <div class="profileDescription">
             Manny<br>
             This is just a sample description for thr profile<br>
             👽 👾 🤖<br>
             🤯
         </div>
    </div>
    
<div class="container postNav">
    <nav class="row">
        <div class="col-4"></div>
        <div class="col-4" ></div>
        <div class="col-4">  </div>
    </nav>

        <div class="row postSection">
        <% for(let i = 0; i < profile.length; i++ ){ %>
            <div class="col-4 px-2 py-2">
                <div>
                    
                <a style="height: 100%;" href="/profile/<%= profile[i].id%>" > 
                    <img  class="postImg"  src=" <%= profile[i].img[0] %> "> 
                </a>
            </div>
            </div>
        <%}%>
        <div class="col-4 px-2 py-2 addPost">
            <a href="/profile/newPost">
            <div style=" height: 100%; width: 100%;" class="postPlus d-flex align-items-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle rounded mx-auto d-block" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </div>
         </a> </div>
    </div>

    
    
</div>

    <%- include('../partials/footer.ejs') %>






