
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
    
    
<h1> Post</h1>
<div class="postContainer">
    <div class=" postShow"> 

        <img src="<%= post.img[0]%> " alt="" srcset=""> 
        <div> <form action="/profile/post/<%=post.id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form> </div> 

        <div><button value="Edit"><a href="/profile/post/<%=post.id%>/edit/"> Edit </a></button></div>      
    </div>

    <div class="postComment"> 
         <div>  </div>
        <div class="commentsSection"> 
        
            <% for(let i = 0; i < post.comments.length; i++ ){ %>
                <div class="col-4">
                    
                        <%= post.comments[i] %>
                </div> 
            <%}%>
         </div>

        <form class="commentText">
            <input type="text" value="Add comment" name="">
            <input type="button" name="" value="Post" >
        </form>

    </div>

</div>




<%- include('../partials/footer.ejs') %>









